#header{

    border: 1px solid black;
    
    font-size: 14px;
    
    }
    
    *{

    color: rgb(0, 255, 47);
    
    font-size: 18px;
    
    }
    ul{

        border: 1px solid rgb(100, 99, 99);
        
        font-size: 12px;
        
        }
        .container{

            margin: 0 auto;
            
            width: 1200px;
            
            }
            Input[type=“text”] {

                font-size: 16px;
                
                line-height: 1.2;
                
                }