h1{
    color: whitesmoke;
    max-width: 35%;
    font-size: 400%;
    margin-top: 8%;
    margin-left: 3%;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 5px;
}

h2{
    color: whitesmoke;
    font-size: 150%;
    max-width: 29.7%;
    margin-left: 60%;
    margin-top: -19%;
}

body{
    background-color: rgb(107, 156, 9);
}

.image{
    padding: 3%;
    margin-top: 10%;
}

img{
    height: 15%;
    max-width: 99%;
}